<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авто блог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index3.css}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-2 mr-auto">
            <a class="navbar-brand" href="/">Главная</a>
            <li>
                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" th:text="${#authentication.name}" class="nav-link"></a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin/users">Управление пользователями</a>
            </li>
            <li class="nav-item active">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin_panel">Блог</a>
            </li>
            <li class="nav-item active">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/auto-blog">Блог</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2 ml-auto">

            <li>
                <div class="language nav-link">
                    <img src="/images/lang__ru.png" alt="ru" data-google-lang="ru" class="language__img">
                    <img src="/images/lang__en.png" alt="en" data-google-lang="en" class="language__img">
                    <img src="/images/lang__de.png" alt="de" data-google-lang="de" class="language__img">
                    <img src="/images/lang__fr.png" alt="fr" data-google-lang="fr" class="language__img">
                    <img src="/images/lang__pt.png" alt="pt" data-google-lang="pt" class="language__img">
                    <!--            <img src="/images/lang/lang__es.png" alt="es" data-google-lang="es" class="language__img">-->
                    <!--            <img src="/images/lang/lang__it.png" alt="it" data-google-lang="it" class="language__img">-->
                    <!--            <img src="/images/lang/lang__zh.png" alt="zh" data-google-lang="zh-CN" class="language__img">-->
                    <!--            <img src="/images/lang/lang__ar.png" alt="ar" data-google-lang="ar" class="language__img">-->
                    <!--            <img src="/images/lang/lang__nl.png" alt="nl" data-google-lang="nl" class="language__img">-->
                    <!--            <img src="/images/lang/lang__sv.png" alt="sv" data-google-lang="sv" class="language__img">-->
                </div>
            </li>

<!--            <li class="nav-item active">-->
<!--                &lt;!&ndash;        <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/registration" data-bs-toggle="modal"  data-bs-target="#staticBackdropn">Регистрация</a>&ndash;&gt;-->
<!--                <a  sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdropreg">Регистрация</a>-->

<!--                &lt;!&ndash; Modal registration &ndash;&gt;-->
<!--                <form th:action="@{/registration}" th:object="${useForm}" method="post">-->
<!--                    <div class="modal fade" id="staticBackdropreg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelreg" aria-hidden="true">-->
<!--                        <div class="modal-dialog modal-dialog-centered">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="staticBackdropLabelreg">Регистрация</h5>-->
<!--                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <p th:text="${Error}"></p>-->
<!--                                    <table>-->
<!--                                        <tr>-->
<!--                                            <td>Логин</td>-->
<!--                                            <td><input type="text" th:field="*{username}" required></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>Пароль:</td>-->
<!--                                            <td><input type="text" th:field="*{password}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>Повторите пароль:</td>-->
<!--                                            <td><input type="text" th:field="*{passwordConfirm}"></td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>-->
<!--                                    <button type="submit" class="btn btn-primary" data-tooggle="button" aria-pressed="false" autocomplete="off">Зарегистрироваться</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->

<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdroplog">Войти</a>-->
<!--            </li>-->

            <!-- Modal login -->
<!--            <form th:action="@{/login}" method="post">-->
<!--                <div class="modal fade" id="staticBackdroplog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabellog" aria-hidden="true">-->
<!--                    <div class="modal-dialog modal-dialog-centered">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="staticBackdropLabellog">Регистрация</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <table>-->
<!--                                    <tr>-->
<!--                                        <td>Логин</td>-->
<!--                                        <td><input type="username" name="username" required >-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>Пароль:</td>-->
<!--                                        <td><input type="password" name="password" required >-->
<!--                                    </tr>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>-->
<!--                                <button type="submit" class="btn btn-primary" data-tooggle="button" aria-pressed="false" autocomplete="off">Войти</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
            <li class="nav-item active">
                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/logout">Выход</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <blockquote class="blockquote text-center text-white"><h1>Авто блог</h1></blockquote>

    <div class="row">
        <blockquote class="blockquote text-center text-white">
            <h5>Поиск по любому критерию:</h5>
            <form th:action="@{/auto-blog}" class="search-form">
            </form>

            <input type="submit" class="btn btn-success btn-sm" name="column" value="По дате записи"
                   onclick="searchDate()"/>
            <input type="submit" class="btn btn-success btn-sm" name="column" value="По названию"
                   onclick="searchName()"/>
            <input type="submit" class="btn btn-success btn-sm" name="column" value="По дате и названию"
                   onclick="searchDateName()"/>
            <input type="submit" class="btn btn-success btn-sm" name="column" value="По тексту" onclick="searchText()"/>
            <input type="submit" class="btn btn-success btn-sm" name="column" value="По дате и тексту"
                   onclick="searchDateText()"/>
            <input type="submit" class="btn btn-success btn-sm" name="column" value="По всем критериям"
                   onclick="searchAll()"/>
            <input type="submit" class="btn btn-danger btn-sm" name="column" value="Убрать поиск"
                   onclick="searchNull()"/>
        </blockquote>
    </div>

    <div class="row">
        <blockquote class="blockquote text-center">
            <button  sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#staticBackdropn">Добавить запись</button>
        </blockquote>
            <!-- Modal new -->
            <form action="#" th:action="@{/blog/save}" th:object="${blog}" method="post">
                <div class="modal fade" id="staticBackdropn" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabeln" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabeln">Добавить запись</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td>ID:</td>
                                        <td><input type="text" th:field="*{id}"></td>
                                    </tr>
                                    <tr>
                                        <td>Изображение:</td>
                                        <td><input type="text" th:field="*{url}"></td>
                                    </tr>
                                    <tr>
                                        <td>Название:</td>
                                        <td><input type="text" th:field="*{name}"></td>
                                    </tr>
                                    <tr>
                                        <td>Дата:</td>
                                        <td><input type="text" th:field="*{date}"></td>
                                    </tr>
                                    <tr>
                                        <td>Автор:</td>
                                        <td><input type="text" th:field="*{author}"></td>
                                    </tr>
                                    <tr>
                                        <td>Содержимое:</td>
                                        <td><input type="text" th:field="*{blogText}"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary" data-tooggle="button" aria-pressed="false" autocomplete="off">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>


    <p class="text-white fw-bold row-count"></p>

    <div class="data">
        <table id="1" class="table table-hover table-sm text-white">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">url</th>
                <th scope="col">Название</th>
                <th scope="col">Дата</th>
                <th scope="col">Автор</th>
                <th scope="col">Текст</th>
                <td></td>
            </tr>

            <tr>
                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>

                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>
                <th scope="col">
                    <input type="button" class="btn btn-primary btn-sm" value="ASC"
                    />
                    <input type="button" class="btn btn-secondary btn-sm" value="DESC"
                    />
                </th>
                <th></th>

            </tr>
            </thead>

            <tbody>
            <tr class="table-tr" th:each="obj: ${List}">
                <th scope="row" class="table-th text-white" th:text="${obj.id}">отсутствует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.url}">отсутствует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.name}">отсутствует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.date}">отсутствует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.author}">отсутствует</th>
                <th scope="row" class="table-th text-white" th:text="${obj.blogText}">отсутствует</th>
                <td>
                    <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-info" data-bs-toggle="modal" th:href="'/blog/edit/' + ${obj.id}" th:data-bs-target="'#staticBackdrope' + ${obj.id}" >Редактировать
                    </button>

                    <!-- Modal edit -->
                    <form th:action="@{/blog/save}" method="post">
                        <div class="modal fade" th:id="'staticBackdrope' + ${obj.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabeled" aria-hidden="true" >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabeled">Редактировать запись</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <tr>
                                                <td>ID:</td>
                                                <td><input type="text" th:value="*{obj.id}" th:name="id" readonly></td>
                                            </tr>
                                            <tr>
                                                <td>Изображение:</td>
                                                <td><input type="text" th:value="*{obj.url}" th:name="name"></td>
                                            </tr>
                                            <tr>
                                                <td>Название:</td>
                                                <td><input type="text" th:value="*{obj.name}" th:name="content"></td>
                                            </tr>
                                            <tr>
                                                <td>Дата:</td>
                                                <td><input type="text" th:value="*{obj.date}" th:name="citySend"></td>
                                            </tr>
                                            <tr>
                                                <td>Автор:</td>
                                                <td><input type="text" th:value="*{obj.author}" th:name="dateSend"></td>
                                            </tr>
                                            <tr>
                                                <td>Содержимое:</td>
                                                <td><input type="text" th:value="*{obj.blogText}" th:name="cityArrive"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#staticBackdropd' + ${obj.id}">
                        Удалить
                    </button>

                    <div class="modal fade" th:id="'staticBackdropd' + ${obj.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Предупреждение</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    Вы точно хотитe удалить данную запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <a th:href="@{'/blog/delete/'+${obj.id}}" class="btn btn-danger">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="text-center text-lg-start bg-dark text-muted">
    <section class="p-3">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h4><a class="text-white text-decoration-none" href="/">Главная</a></h4>
                    <h5><a class="text-white text-decoration-none" href="/admin/users">Управление пользователями</a></h5>
                    <h5><a sec:authorize="hasAuthority('ROLE_USER')" class="text-white text-decoration-none" href="/auto-blog">Блог</a></h5>
                    <h5><a sec:authorize="hasAuthority('ROLE_ADMIN')" class="text-white text-decoration-none" href="/admin_panel">Блог</a></h5>
                </div>
                <div class="col">
                    <h5 class="text-white">Авторство</h5>
                    <p>Балашкин Андрей</p>
                    <p>Изотова Валентина</p>
                    <p>Коробков Владислав</p>
                    <p>Золотов Дмитрий</p>
                </div>
                <div class="col">
                    <h5 class="text-white">Контакты</h5>
                    <div>
                        <a href="https://t.me"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-telegram" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                        </svg></a>
                        <a href="https://github.com"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg></a>
                        <a href="https://www.reddit.com"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-reddit" viewBox="0 0 16 16">
                            <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                        </svg></a>
                        <a href="https://twitter.com"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                        </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<script>
    let form = document.querySelector('.search-form');

    function searchDate() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="date" id="date" size="70" placeholder="Дата" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchName() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="name" id="name" size="70" placeholder="Название" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchDateName() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="date" id="date" size="70" placeholder="Дата" required/>';
            form.innerHTML += '<input type="text" name="name" id="name" size="70" placeholder="Название" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchText() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="text" id="text" size="70" placeholder="Текст" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchDateText() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="date" id="date" size="70" placeholder="Дата" required/>';
            form.innerHTML += '<input type="text" name="text" id="text" size="70" placeholder="Текст" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchAll() {
        if (form.innerHTML.length == 0) {
            form.innerHTML = '';
            form.innerHTML += '<input type="text" name="all" id="all" size="70" placeholder="Все критерии" required/>';
            form.innerHTML += '<input type="submit" class="btn btn-warning btn-sm" value="Поиск"/>';
        } else {
            form.innerHTML = '';
        }
    }

    function searchNull() {
        form.innerHTML = '';
    }
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
<script>
    new Tablesort(document.getElementById('1'));
</script>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>

<script type="text/javascript">
    let table = document.getElementById('1')
    let tBody = table.querySelector('tbody')
    const count = tBody.querySelectorAll('tr').length;
    document.querySelector('.row-count').innerHTML = 'Количество записей в таблице: ' + count;
</script>

</body>
</html>